<!DOCTYPE HTML>
<html>
	<head>
		<title>OV Bot | Donation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="author" content="OV Bot">
		<meta name="og:title" content="OV Bot | Donation">
		<meta name="og:description" content="OV Bot is a unique mafia-themed RPG Discord bot. Commit crimes, attack players, steal vehicles, and race with other players!">
		<meta name="og:site_name" content="OV Bot">
		<meta name="og:type" content="website">
		<meta name="og:image" content="https://i.vgy.me/1jzMpA.jpg">
		<meta name="og:image:alt" content="OV Bot Banner">
		<meta name="theme-color" content="#03dac6">
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    	<link rel="icon" type="image/x-icon" href="../assets/icon.ico">
	</head>
	<body class="is-preload">
		<div id="transition" class="white"></div>
		<div class="player">
			<div id="track-name">Sahara</div>
			<audio src="../assets/audio/0.mp3" id="track" volume="0.2"></audio>
			<div class="controller">
				<a class="icon interactable" onclick="mute()"><img class="controller-button" id="mute" src="../assets/css/images/volume.svg"><span class="label">Volume</span></a>
				<div id="volume">
					<input id="volume-bar" type="range" value="50" max="100">
				</div>
				<a class="icon interactable" onclick="previous()"><img class="controller-button" src="../assets/css/images/previous.svg"><span class="label">Previous track</span></a>
				<a class="icon interactable" onclick="play_track()"><img id="play" class="controller-button" src="../assets/css/images/play.svg"><span class="label">Play</span></a>
				<a class="icon interactable" onclick="play_track()"><img id="pause" class="controller-button" src="../assets/css/images/pause.svg"><span class="label">Pause</span></a>
				<a id="next" class="icon interactable" onclick="next()"><img class="controller-button" src="../assets/css/images/next.svg"><span class="label">Next track</span></a>
			</div>
			<div id="slider">
    		<input type="range" value="0" id="slider-bar" max="171.284898">
			</div>
		</div>
		<a href="#" class="icon interactable top"><img class="image fit" src="../assets/css/images/top.svg"/><span class="label">To the top</span></a>
		<div class="error">
			<div class="error-container">
				<h2>Whoops!</h2>
				<p>Unknown Error</p>
				<ok class="error-button" onclick="closealert()">Okay</ok>
			</div>
		</div>

		<!-- Header -->
			<header class="header">
				<div class="actions header-left">
					<a href=".." class="icon interactable"><img class="icon-2" src="../assets/css/images/home.svg" width="45px" height="45px"/><span class="label">Home</span></a>
				</div>
				<div class="actions header-right">
					<a href="https://discord.gg/CPYXNpbmVz" class="icon brands fa-discord discord-header interactable"><span class="label">Discord</span></a>
					<dropdown onclick="showDropdown()" class="dropdown icon interactable" style=""><img class="icon-2" src="../assets/css/images/dashboard.svg" width="45px" height="45px"/><span class="label">Dashboard</span></dropdown>
					<div class="dropdown-content interactable">
						<a href="" onclick="alert('Feature under development')">DASHBOARD</a>
					</div>
				</div>
			</header>

		<!-- Wrapper -->
		<main id="momentum-scroll">
			<div id="wrapper">

				<!-- Main -->
					<section id="main2" class="wrapper">
						<div class="inner not-home">
							<h1 class="major">Donation</h1>
							<h2 class="subtitle" style="color:white;margin-bottom: 1em;margin-left:0.5em">Support us!</h2>
							<p>** Each Royal Case contains 3-5 Luxury Car Keys</p>

							<div class="product-container">
								<div class="product pinned">
									<h3>Royal Pack</h3>
									<p class="product-description">Gives you 2 Royal cases and 30 days of Royal status!<br>Use the /royalperks command to check the perks of Royal status!</p>
									<div class="bottom">
										<div class="price-tag"><span class="dollar">$</span><span class="price">4.99</span></div>
										<a id="0" href="#info" class="button fit scrolly proceed">Proceed</a>
									</div>
								</div>
								<div class="product pinned">
									<h3>Royal+ Pack</h3>
									<p class="product-description">Gives you 4 Special cases and 30 days of Royal+ status!<br>Use the /royalperks command to check the perks of Royal+ status!</p>
									<div class="bottom">
										<div class="price-tag"><span class="dollar">$</span><span class="price">9.99</span></div>
										<a id="1" href="#info" class="button fit scrolly proceed">Proceed</a>
									</div>
								</div>
								<div class="product">
									<h3>Stack of Tokens</h3>
									<p class="product-description">Gives you 340 Tokens!</p>
									<div class="bottom">
										<div class="price-tag"><span class="dollar">$</span><span class="price">1.99</span></div>
										<a id="2" href="#info" class="button fit scrolly proceed">Proceed</a>
									</div>
								</div>
								<div class="product">
									<h3>Pile of Tokens</h3>
									<p class="product-description">Gives you 700 Tokens!</p>
									<div class="bottom">
										<div class="price-tag"><span class="dollar">$</span><span class="price">3.99</span></div>
										<a id="3" href="#info" class="button fit scrolly proceed">Proceed</a>
									</div>
								</div>
								<div class="product">
									<h3>Stash of Tokens</h3>
									<p class="product-description">Gives you 1460 Tokens!</p>
									<div class="bottom">
										<div class="price-tag"><span class="dollar">$</span><span class="price">7.99</span></div>
										<a id="4" href="#info" class="button fit scrolly proceed">Proceed</a>
									</div>
								</div>
								<div class="product">
									<h3>Chest of Tokens</h3>
									<p class="product-description">Gives you 3080 Tokens!</p>
									<div class="bottom">
										<div class="price-tag"><span class="dollar">$</span><span class="price">15.99</span></div>
										<a id="5" href="#info" class="button fit scrolly proceed">Proceed</a>
									</div>
								</div>
							</div>

							<hr>

							<section id="info">
								<div class="checkout" style="font-size: 0.8em;">
								  <h1>Checkout</h1>
								  <label for="username">Your username (Make sure it's correct!)</label>
								  <input type="text" name="username" id="username" readonly><br>
								  <label for="item">Choose your item</label>
								  <select name="item" id="item">
								    <option value="0">Royal Pack</option>
							   	    <option value="1">Royal+ Pack</option>
								    <option value="2">Stack of Tokens (340 Tokens)</option>
								    <option value="3">Pile of Tokens (700 Tokens)</option>
								    <option value="4">Stash of Tokens (1460 Tokens)</option>
								    <option value="5">Chest of Tokens (3080 Tokens)</option>
								  </select><br>
								  <label for="amount">Amount</label>
								  <div class="quantity">
									  <a class="decrement" onclick="decrement()">−</a>
									  <input id="quantity" readonly type="number" value=1 min=1 max=2000>
									  <a class="increment" onclick="increment()">+</a>
								  </div><br>
								  <label for="gift">Gift another user (Optional)</label>
								  <div id="search">
								  	<input type="text" id="gift" name="gift" placeholder="Enter the user's Discord ID"><a class="search"><img src="../assets/css/images/search.svg" id="icon3"></a>
								  </div><br>
								  <a onclick="alert('Type `/id user` command using OV Bot to obtain the user ID!', 'Obtain user ID')">How to obtain the user's Discord ID?</a><br><br>
								  <h3 style="color: rgba(255,255,255,0.7">Total:&ensp;<span style="font-size: 0.7em" class="dollar">$</span><span style="font-size: 1.4em;" id="total" class="price">4.99</span></h3>
								  <a href="" id="checkout" class="button" style="width:47%">Checkout</a></li>
								  <hr>
								</div>
							</section>

							<section class="faq-container-inner">
								<p style="margin-bottom: 0.5em;margin-left:1em">Frequently Asked Questions</p>
								<div>
					                <h2 class="faq-page">How can I claim my items after purchase?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
					                <div class="faq-body">
					                    <p>Use the /claim command in OV Bot to claim your items after a purchase!</p>
					                </div>
					            </div>
					            <hr class="hr-line">
					            <div>
					                <h2 class="faq-page">Does the duration of Royal or Royal+ status stack?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
					                <div class="faq-body">
					                    <p>Yes, Royal status will stack. Purchasing a new Royal pack before your current Royal status expires will extend your Royal status by another 30 days. Same goes to Royal+ Pack.</p>
					                </div>
					            </div>
					            <hr class="hr-line">
					            <div style="margin-bottom: 3em;">
					                <h2 class="faq-page">Can I purchase a Royal Pack if I already have a Royal+ status?<img class="plus" src="../assets/css/images/plus.svg"/></h2>
					                <div class="faq-body">
					                    <p>Purchasing a Royal Pack before your Royal+ status expires will downgrade your status to a Royal status and reset your Royal status expiry date. Vice versa purchasing a Royal+ Pack before your Royal status expires will instantly upgrade your status to Royal+.</p>
					                </div>
					            </div>
					        </section>

							<ul class="actions">
								<li style="width: 100%; padding-top: 3em;"><a href=".." class="button fit scrolly">Back</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li><a href="faq">FAQ</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
						<li><a href="/terms-of-service">Terms of Service</a></li>
						<li style="user-select:text">ovbotteam@gmail.com</li>
					</ul>
				</div>
			</footer>
		</main>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/web3modal-dynamic-import@1.11.1/dist/index.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.7/dist/umd/index.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/js/donation.js"></script>
			<script src="../assets/jqueryui/jquery-ui.js"></script>

	</body>
</html>
