<!DOCTYPE HTML>
<html>
	<head>
		<title>OV Bot | Page Not Found</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="author" content="OV Bot">
		<meta name="og:title" content="OV Bot | Privacy Policy">
		<meta name="og:description" content="OV Bot is a unique mafia-themed RPG Discord bot. Commit crimes, attack players, steal vehicles, and race with other players!">
		<meta name="og:site_name" content="OV Bot">
		<meta name="og:type" content="website">
		<meta name="og:image" content="https://i.vgy.me/1jzMpA.jpg">
		<meta name="og:image:alt" content="OV Bot Banner">
		<meta name="theme-color" content="#03dac6">
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    	<link rel="icon" type="image/x-icon" href="../assets/icon.ico">
	</head>
	<body class="is-preload">
		<div id="transition" class="white"></div>
		<div class="player">
			<div id="track-name">Sahara</div>
			<audio src="../assets/audio/0.mp3" id="track" volume="0.2"></audio>
			<div class="controller">
				<a class="icon interactable" onclick="mute()"><img class="controller-button" id="mute" src="../assets/css/images/volume.svg"><span class="label">Volume</span></a>
				<div id="volume">
					<input id="volume-bar" type="range" value="50" max="100">
				</div>
				<a class="icon interactable" onclick="previous()"><img class="controller-button" src="../assets/css/images/previous.svg"><span class="label">Previous track</span></a>
				<a class="icon interactable" onclick="play_track()"><img id="play" class="controller-button" src="../assets/css/images/play.svg"><span class="label">Play</span></a>
				<a class="icon interactable" onclick="play_track()"><img id="pause" class="controller-button" src="../assets/css/images/pause.svg"><span class="label">Pause</span></a>
				<a id="next" class="icon interactable" onclick="next()"><img class="controller-button" src="../assets/css/images/next.svg"><span class="label">Next track</span></a>
			</div>
			<div id="slider">
    		<input type="range" value="0" id="slider-bar" max="171.284898">
			</div>
		</div>
		<a href="#" class="icon interactable top"><img class="image fit" src="../assets/css/images/top.svg"/><span class="label">To the top</span></a>
		<div class="error">
			<div class="error-container">
				<h2>Whoops!</h2>
				<p>Unknown Error</p>
				<ok class="error-button" onclick="closealert()">Okay</ok>
			</div>
		</div>

		<!-- Header -->
			<header class="header">
				<div class="actions header-left">
					<a href=".." class="icon interactable"><img class="icon-2" src="../assets/css/images/home.svg" width="45px" height="45px"/><span class="label">Home</span></a>
				</div>
				<div class="actions header-right">
					<a href="https://discord.gg/CPYXNpbmVz" class="icon brands fa-discord discord-header interactable"><span class="label">Discord</span></a>
					<dropdown onclick="showDropdown()" class="dropdown icon interactable" style=""><img class="icon-2" src="../assets/css/images/dashboard.svg" width="45px" height="45px"/><span class="label">Dashboard</span></dropdown>
					<div class="dropdown-content interactable">
						<a href="" onclick="alert('Feature under development')">DASHBOARD</a>
					</div>
				</div>
			</header>

		<!-- Wrapper -->
		<main id="momentum-scroll">
			<div id="wrapper">

				<!-- Main -->
					<section id="privacy-policy" class="wrapper">
						<div class="inner">
							<h1 class="major">Privacy Policy</h1>
							<p>Last updated: December 02, 2024.</p>
							<p>This Privacy Policy describes our policies and procedures for collecting, using and disclosing your information when you use the services, and tells you about your privacy rights.</p>
							<p>We use your data to provide and improve the services. By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy.</p>
							<h1>Interpretation and Definitions</h1>
							<h2>Interpretation</h2>
							<p>The words mentioned in this Privacy Policy have the meanings defined in the following conditions. The following definitions shall have the same meaning whether appearing in the singular or the plural.</p>
							<h2>Definitions</h2>
							<p>For the purposes of this Privacy Policy:</p>
							<ul>
							<li>
							<p><b style="color: white">Account</b> means a unique account created for you to access our Service or parts of our Service.</p>
							</li>
							<li>
							<p><b style="color: white">OV Bot</b> (referred to as either &quot;the Discord Bot&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to the Discord Bot made for the purpose of this service.</p>
							</li>
							<li>
							<p><b style="color: white">Device</b> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
							</li>
							<li>
							<p><b style="color: white">Personal Data</b> (referred to as either &quot;information&quot;, &quot;data&quout;) is any information that relates to an identified or identifiable individual.</p>
							</li>
							<li>
							<p><b style="color: white">Service</b> refers to the service provided by OV Bot.</p>
							</li>
							<li>
							<p><b style="color: white">Usage Data</b> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (For example, the duration of a page visit).</p>
							</li>
							<li>
							<p><b style="color: white">Website</b> refers to the current Official OV Bot website (https://ovbot.up.railway.app/).</p>
							</li>
							<li>
							<p><b style="color: white">You</b> means the individual accessing or using the Service, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
							</li>
							</ul>
							<h1>Collecting and Using your Personal Data</h1>
							<h2>Types of Data Collected</h2>
							<h3>Personal Data</h3>
							<p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to:</p>
							<ul>
							<li>Discord username</li>
							<li>Discord user ID</li>
							</ul>
							<h3>Discord user ID</h3>
							<p>You will be prompted to authenticate with Discord before you can proceed to the checkout page when visiting our donation page. By authenticating, you provide us with your Discord username and Discord user ID. Your Discord username will be used as a displayable information as a referrence to you. Your Discord user ID is used as a more general identifiable information as it can be publicly viewed by other members in our community in order to contact or identify you</p>
							<h3>Tracking Technologies and Cookies</h3>
							<p>We do not use Cookies or similar tracking technologies to track the activity on our Service.</p>
							<h3>Sharing of your Personal Data</h3>
							<p>We do not share your Discord username or Discord user ID with other third party organisations. We may share your personal information in the following situations:</p>
							<ul>
							<li><b style="color: white">With other users:</b> only your Discord username and Discord user ID will be shared with other members of our community in order to contact or identify you.</li>
							<li><b style="color: white">With your consent</b>: we may disclose your Discord username and Discord user ID for any other purpose with your consent.</li>
							</ul>
							<h2>Retention of your Personal Data</h2>
							<p>OV Bot will retain your information only for as long as it is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
							<p>OV Bot will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.</p>
							<h2>Removal of your Personal Data</h2>
							<p>To request a removal of your information from our database, you can open a support ticket in our <a href="https://discord.gg/bBeCcuwE95">Discord server</a> and request for a data removal.</p>
							<h2>Transfer of your Personal Data</h2>
							<p>Your information, including your Discord username and Discord ID, is processed at the Service's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
							<p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
							<p>OV Bot will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your information will take place to an organization or a country.</p>
							<h2>Disclosure of your Personal Data</h2>
							<h3>Law enforcement</h3>
							<p>Under certain circumstances, OV Bot may be required to disclose your information if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
							<h3>Other legal requirements</h3>
							<p>OV Bot may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
							<ul>
							<li>Comply with a legal obligation</li>
							<li>Protect and defend the rights or property of the OV Bot</li>
							<li>Prevent or investigate possible wrongdoing in connection with OV Bot</li>
							<li>Protect the personal safety of Users of OV Bot or the public</li>
							<li>Protect against legal liability</li>
							</ul>
							<h2>Security of your Personal Data</h2>
							<p>The security of your Personal Data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your information, we cannot guarantee its absolute security.</p>
							<h1>Children's Privacy</h1>
							<p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from anyone under the age of 13 without verification of parental consent, we take steps to remove that information from our database.</p>
							<p>If we need to rely on consent as a legal basis for processing your information and your country requires consent from a parent, we may require your parent's consent before we collect and use that information.</p>
							<h1>Links to Other Websites</h1>
							<p>Our Service may contain links to other websites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
							<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
							<h1>Changes to this Privacy Policy</h1>
							<p>We may update our Privacy Policy from time to time. We will notify you of any changes through our <a href="https://discord.gg/bBeCcuwE95">Discord server</a>, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
							<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when you are notified of the changes.</p>
							<h1>Contact Us</h1>
							<p>If you have any questions about this Privacy Policy, you can contact us by opening a support ticket in our <a href="https://discord.gg/bBeCcuwE95">Discord server</a> or sending an email to ovbotteam@gmail.com</a></p>


							<ul class="actions">
								<li style="width: 100%; padding-top: 5em;"><a href=".." class="button fit scrolly">Back</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li><a href="faq">FAQ</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="/terms-of-service">Terms of Service</a></li>
						<li style="user-select:text">ovbotteam@gmail.com</li>
					</ul>
				</div>
			</footer>
		</main>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/web3modal-dynamic-import@1.11.1/dist/index.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.7/dist/umd/index.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/jqueryui/jquery-ui.js"></script>

	</body>
</html>
